
  body {
    font-family: "Segoe UI Semilight","Segoe UI","Segoe";
    background-image: url("Images/logo.png");
    
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
iframe{
  width: 100%;
}
#ifooter {
  height: 350px;
}
#iheader {
  height: 150px;
}
 table {
text-align: center;
width: 100%;
margin: 0;
 }
 th {
   width: 100px;
 }
 td {
   width: 100px;
 }
 ul {
   text-align: center;
   list-style-type: none;
 }

 .slideShow {
   background-color: #48C2B3;
 }
 .slideShow h1 {
   color: #f9f9f9;
   background-color: #0C3865;
 }
 .dots {
   
   background-color: #0C3865;
   color: #f9f9f9;
 }
 .SlideText {
   background-color: #f9f9f9;
 }
 .text {
   color: black;
   background-color: #0C3865;
 }
 .AutresAct {
   border: 10px  #48C2B3;
   width: max-content;
   text-align: center;
   display: inline-block;
   color: #f9f9f9;
   background-color: #0C3865;
   display: block;
   text-align: center;
   padding: 14px 25px;
   margin: auto;
   text-decoration: none;
   font-size: 17px;
   float: none;

 }
 .AutresAct :hover {
   background-color: #48C2B3;
   color: #0C3865;
 }